body {
  font-family: "Roboto Mono", monospace;
  text-align: center;
}

h1 {
  font-size: 18px;
  text-align: center;
}

.container {
  background-color: rgb(223, 199, 154);
  width: 80%;
  margin: 0 auto;
  height: 200px;
  border: 5px solid rgb(193, 120, 25);
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

}

.container div {
  width: 200px;
  height: 200px;
  font-size: 4em;

}


div:nth-of-type(4) {
  font-size: 5em;
  align-self: center;
  flex-grow:1;
  flex-basis: 300px;

}  


main{
  width:80%;
  margin: 0 auto;
  border: 5px solid black;
  height: 500px;
  display:flex;
  align-items: stretch;

}

main .sidebar{
  background-color: aqua;
  height: 100%;
 
  flex: 1 100px;


}

main .mainContent{
  background-color: chocolate;
  height: 100%;
  flex-grow: 5;
  flex-basis: 500px;
  flex-shrink: 3;
  flex: 5

}

/* Flex-Basis em diu el tamany inicial que hauria de tenir aquella caixa */
/* Flex-Grow controla la quantitat d'espai que ocuparà la caixa si hi ha disponible */
/* Flex-Shrink controla la quantitat d'espai que fan servir quan no queda espai */
/* flex: flex-grow flex-shrink flex-basis
