body {
  font-family: "Roboto Mono", monospace;
  text-align: center;
}

h1 {
  font-size: 18px;
  text-align: center;
}

.container {
  background-color: rgb(223, 199, 154);
  width: 90%;
  margin: 0 auto;
  height: 300px;
  border: 5px solid rgb(193, 120, 25);
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center;
}

.container div {
  width: 100px;
  height: 100px;
  font-size: 4em;
  flex-basis: 200px;
}

div:nth-of-type(1) {
  flex-grow: 1;
  flex-shrink: 3;
}

div:nth-of-type(5) {
  flex-grow: 2;
  flex-shrink: 0;
}
/*-------------*/

main{
  width:80%;
  margin: 0 auto;
  border: 5px solid black;
  height: 500px;
  display:flex;
  align-items: stretch;

}

main .sidebar{
  background-color: aqua;
  flex: 1 2 200px;
}

main .mainContent{
  background-color: chocolate;
  flex:3 1 300px;
}

/* div:nth-of-type(5) {
  align-self: ;
} */

/* Flex-Basis em diu el tamany inicial que hauria de tenir aquella caixa */
/* Flex-Grow controla la quantitat d'espai que ocuparà la caixa si hi ha disponible */
/* Flex-Shrink controla la quantitat d'espai que fan servir quan no queda espai */
/* flex: flex-grow flex-shrink flex-basis